main:has(.error-404) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-404 {
    
    text-align: center;

    h1 {
        color: $black !important;

        span {
            @include adaptive-value("font-size", 24, 16, 1);
            display: block;
            margin-top: 1em;
        }
    }

    ._btn {
        margin-top: 30px;
    }
}
